.idea/
venv/
.DS_Store

categorical/mapping2d/__pycache__/
categorical/relationships/__pycache__/
categorical/areaassignment/__pycache__/
categorical/paterns/__pycache__/
categorical/__pycache__/
categorical/patternassignment/__pycache__/
categorical/patterns/__pycache__/
